# Configuration Variables for AWS and Databricks

aws_account_id = ""        // AWS account ID where resources will be deployed.
client_id = ""             // Service principal ID for Databricks with admin permissions.
client_secret = ""         // Secret for the corresponding service principal.
databricks_account_id = "" // Databricks account ID.
databricks_gov_shard = ""  // (civilian or dod)
resource_prefix = ""       // Prefix used for naming and tagging resources (e.g., S3 buckets, IAM roles).
