databricks_account_id = "<databricks_account_id>"
databricks_google_service_account = "<google_service_account_email>"
google_project = "<google_project_id>"
google_region = "<google_region>"
ip_addresses = ["<ip_cidr_block>"]
databricks_workspace_name = "<workspace_name>"
account_console_url = "<account_console_url>"
google_pe_subnet = "<google_pe_subnet>"
key_name = "<key_name>"
use_existing_cmek = <true_or_false>
workspace_pe = "<workspace_pe>"
relay_pe = "<relay_pe>"
relay_pe_ip_name = "<relay_pe_ip_name>"
use_existing_pas = <true_or_false>
workspace_pe_ip_name = "<workspace_pe_ip_name>"
relay_service_attachment = "<relay_service_attachment_resource_id>"
workspace_service_attachment = "<workspace_service_attachment_resource_id>"
keyring_name = "<keyring_name>"
cmek_resource_id = "<cmek_resource_id>"